<p>
  <b>Title:</b>
  <%=h @unittest.title %>
  <%= in_place_editor_field :unittest, "title" %>
</p>

<p>
  <b>Description:</b>
  <%=h @unittest.description %>
</p>

<p>
  <b>Propurl:</b>
  <%=h @unittest.propurl %>
</p>

<p>
  <b>Testurl:</b>
  <%=h @unittest.testurl %>
</p>

<p>
  <b>Basehref:</b>
  <%=h @unittest.basehref %>
</p>

<p>
  <b>Framework:</b>
  <%=h @unittest.framework %>
</p>

<p>
  <b>Hinav:</b>
  <%=h @unittest.hinav %>
</p>

<p>
  <b>Treecrumb:</b>
  <%=h @unittest.treecrumb %>
</p>

<p>
  <b>Titles:</b>
  <%=h @unittest.titles %>
</p>

<p>
  <b>Sectiontitle:</b>
  <%=h @unittest.sectiontitle %>
</p>

<p>
  <b>Backpack:</b>
  <%=h @unittest.backpack %>
</p>

<p>
  <b>Popup:</b>
  <%=h @unittest.popup %>
</p>

<p>
  <b>Rrptlcount:</b>
  <%=h @unittest.rrptlcount %>
</p>


<%= link_to 'Edit', edit_unittest_path(@unittest) %> |
<%= link_to 'Back', unittests_path %>
